__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

venv/
env/
ENV/
.env
.venv
*.venv

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.testmondata

*.log

.idea/
.vscode/
*.swp
*.swo
*.sublime-*
.DS_Store  # macOS 系统文件
Thumbs.db  # Windows 系统文件

*.sqlite3
*.db
*.pid
*.seed